#
# Local development environment variables
#
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="next-solution"

#
# Application environment variables
#

# Server-side Environment Variables
APP_NAME="Next Solution"
APP_TIMEZONE="Asia/Bangkok"
APP_URL="http://localhost:3000"

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/next-solution"

NODE_ENV="development"

# Client-side Environment Variables
NEXT_PUBLIC_APP_NAME="${APP_NAME}"
NEXT_PUBLIC_APP_TIMEZONE="${APP_TIMEZONE}"
NEXT_PUBLIC_APP_URL="${APP_URL}"
